<!DOCTYPE html>
<html>

<head>
  <title>Would You Survive the Titanic?</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/images/lstm.ico">

</head>

<body>
  <div class="container">
    <h2>
      <center>Would You Survive the Titanic?</center>
    </h2>
    <h3>
      <center>The power of machine learning</center>
    </h3>

    {% block content %}
    {% for message in form.sex.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.age.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.Pclass.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.cabin.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.SibSp.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.ParCh.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.fare.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.embarked.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method=post>

      {{ form.sex.label }}
      {{ form.sex }}

      {{ form.title.label }}
      {{ form.title }}

      {{ form.age.label }}
      {{ form.age }}

      {{ form.Pclass.label }}
      {{ form.Pclass }}

      {{ form.cabin.label }}
      {{ form.cabin }}

      {{ form.SibSp.label }}
      {{ form.SibSp }}

      {{ form.ParCh.label }}
      {{ form.ParCh }}

      {{ form.fare.label }}
      {{ form.fare }}

      {{ form.embarked.label }}
      {{ form.embarked }}

      <p></p>

      {{ form.submit }}

      <p></p>
      <h4>
        <center>Fare Distribution:</center>
      </h4>
      <p><img src="https://edenau.github.io/assets/images/titanic_fare_kde.png" alt="Fare Distribution" height="400" width="800"/></p>

      <h5>
        Made by <a href="http://edenau.github.io" target="_blank">Eden Au</a> <br>
        CSS template by <a href="https://willk.online/" target="_blank">Will Koehrsen</a> <br>
        Powered by <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services</a>
      </h5>
    </form>
    {% endblock %}

  </div>
</body>

</html>
